BiNoM3/lib/CellDesigner_2/schemaorg_apache_xmlbeans/src/transpath.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
   targetNamespace="http://www.biobase-international.com" 
   xmlns="http://www.biobase-international.com" 
   xmlns:xs='http://www.w3.org/2001/XMLSchema'
   elementFormDefault="qualified" 
   attributeFormDefault="unqualified" 
>
  <xs:element name="reactants">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
        <xs:element minOccurs="0" maxOccurs="1" ref="stoichiometry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="factor" type="xs:string" />
  <xs:element name="publication" type="xs:string" />
  <xs:element name="title" type="xs:string" />
  <xs:element name="fullname" type="xs:string" />
  <xs:element name="type" type="xs:string" />
  <xs:element name="pathways">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cdna" type="xs:string" />
  <xs:group name="entry-fields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="extid" />
      <xs:element minOccurs="0" maxOccurs="1" ref="secid" />
      <xs:element minOccurs="0" maxOccurs="1" ref="creator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="updator" />
    </xs:sequence>
  </xs:group>
  <xs:element name="Annotate">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element minOccurs="0" maxOccurs="1" ref="category" />
        <xs:element ref="text" />
        <xs:element minOccurs="0" maxOccurs="1" ref="source" />
        <xs:element minOccurs="0" maxOccurs="1" ref="accnos" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reference">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element minOccurs="0" maxOccurs="1" ref="title" />
        <xs:element minOccurs="0" maxOccurs="1" ref="publication" />
        <xs:element minOccurs="0" maxOccurs="1" ref="authors" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="accnos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="components" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="seq_len" type="xs:string" />
  <xs:element name="go" type="xs:string" />
  <xs:element name="molecules_involved">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="effect" type="xs:string" />
  <xs:element name="description" type="xs:string" />
  <xs:element name="category" type="xs:string" />
  <xs:element name="seq_source" type="xs:string" />
  <xs:element name="Gene">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element ref="name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="fullname" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonyms" />
        <xs:element minOccurs="0" maxOccurs="1" ref="species" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="accnos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="references" />
        <xs:element minOccurs="0" maxOccurs="1" ref="members" />
        <xs:element minOccurs="0" maxOccurs="1" ref="groups" />
        <xs:element minOccurs="0" maxOccurs="1" ref="rkins" />
        <xs:element minOccurs="0" maxOccurs="1" ref="rkouts" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="cellline" type="xs:string" />
  <xs:element name="name" type="xs:string" />
  <xs:element name="sequence" type="xs:string" />
  <xs:element name="Reaction">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element ref="type" />
        <xs:element minOccurs="0" maxOccurs="1" ref="quality" />
        <xs:element ref="name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="effect" />
        <xs:element minOccurs="0" maxOccurs="1" ref="reversible" />
        <xs:element minOccurs="0" maxOccurs="1" ref="direct" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="accnos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="0" maxOccurs="1" ref="references" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="locations" />
        <xs:element minOccurs="0" maxOccurs="1" ref="semantic" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pathway_step" />
        <xs:element minOccurs="0" maxOccurs="1" ref="molecular_evidence" />
        <xs:element minOccurs="0" maxOccurs="1" ref="decomposition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="composition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pathways" />
        <xs:element minOccurs="0" maxOccurs="1" ref="reactants" />
        <xs:element minOccurs="0" maxOccurs="1" ref="produces" />
        <xs:element minOccurs="0" maxOccurs="1" ref="enzyme" />
        <xs:element minOccurs="0" maxOccurs="1" ref="inhibitor" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="enzyme">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compartment" type="xs:string" />
  <xs:element name="produces">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
        <xs:element minOccurs="0" maxOccurs="1" ref="stoichiometry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cytomer_species" type="xs:string" />
  <xs:element name="klass" type="xs:string" />
  <xs:element name="cytomer_comment" type="xs:string" />
  <xs:element name="semantic">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inhibits">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extid" type="xs:string" />
  <xs:element name="locations">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" ref="go" />
        <xs:element minOccurs="0" maxOccurs="1" ref="expression_level" />
        <xs:element minOccurs="0" maxOccurs="1" ref="negative" />
        <xs:element minOccurs="0" maxOccurs="1" ref="tissue" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cytomer_organ" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cytomer_cell" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cytomer_stage" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cytomer_species" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cytomer_comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cellline" />
        <xs:element minOccurs="0" maxOccurs="1" ref="stage" />
        <xs:element minOccurs="0" maxOccurs="1" ref="compartment" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="species" />
        <xs:element minOccurs="0" maxOccurs="1" ref="accnos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="method" />
        <xs:element minOccurs="0" maxOccurs="1" ref="material" />
        <xs:element minOccurs="0" maxOccurs="1" ref="references" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lastpos" type="xs:string" />
  <xs:element name="secid" type="xs:string" />
  <xs:element name="tissue" type="xs:string" />
  <xs:element name="firstpos" type="xs:string" />
  <xs:element name="cytomer_stage" type="xs:string" />
  <xs:element name="negative" type="xs:string" />
  <xs:element name="comments">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="classes">
    <xs:choice>
      <xs:element ref="Molecule" />
      <xs:element ref="Reaction" />
      <xs:element ref="Gene" />
      <xs:element ref="Reference" />
      <xs:element ref="Annotate" />
      <xs:element ref="Pathway" />
    </xs:choice>
  </xs:group>
  <xs:element name="network">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="classes" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="extent" type="xs:string" use="required" />
      <xs:attribute name="source" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="bulks">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="method" type="xs:string" />
  <xs:element name="inhibitor">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="synonyms" type="xs:string" />
  <xs:element name="references">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seq_mw" type="xs:string" />
  <xs:element name="text" type="xs:string" />
  <xs:element name="catalyzes">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accnos" type="xs:string" />
  <xs:element name="expression_level" type="xs:string" />
  <xs:element name="seq_ip" type="xs:string" />
  <xs:element name="members">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="material" type="xs:string" />
  <xs:element name="rkouts">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rkins">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stage" type="xs:string" />
  <xs:element name="decomposition">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gene_acc" type="xs:string" />
  <xs:element name="creator" type="xs:string" />
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pathway_step">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reactions_involved">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="species" type="xs:string" />
  <xs:element name="direct" type="xs:string" />
  <xs:element name="authors" type="xs:string" />
  <xs:element name="parts">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Molecule">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element minOccurs="0" maxOccurs="1" ref="factor" />
        <xs:element minOccurs="0" maxOccurs="1" ref="type" />
        <xs:element minOccurs="0" maxOccurs="1" ref="quality" />
        <xs:element ref="name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonyms" />
        <xs:element minOccurs="0" maxOccurs="1" ref="firstpos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="lastpos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="klass" />
        <xs:element minOccurs="0" maxOccurs="1" ref="seq_source" />
        <xs:element minOccurs="0" maxOccurs="1" ref="seq_len" />
        <xs:element minOccurs="0" maxOccurs="1" ref="seq_mw" />
        <xs:element minOccurs="0" maxOccurs="1" ref="seq_ip" />
        <xs:element minOccurs="0" maxOccurs="1" ref="sequence" />
        <xs:element minOccurs="0" maxOccurs="1" ref="cdna" />
        <xs:element minOccurs="0" maxOccurs="1" ref="species" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="accnos" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="genomic_accnos" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="0" maxOccurs="1" ref="references" />
        <xs:element minOccurs="0" maxOccurs="1" ref="members" />
        <xs:element minOccurs="0" maxOccurs="1" ref="groups" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="locations" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="go" />
        <xs:element minOccurs="0" maxOccurs="1" ref="states" />
        <xs:element minOccurs="0" maxOccurs="1" ref="stateofs" />
        <xs:element minOccurs="0" maxOccurs="1" ref="rkins" />
        <xs:element minOccurs="0" maxOccurs="1" ref="rkouts" />
        <xs:element minOccurs="0" maxOccurs="1" ref="catalyzes" />
        <xs:element minOccurs="0" maxOccurs="1" ref="inhibits" />
        <xs:element minOccurs="0" maxOccurs="1" ref="parts" />
        <xs:element minOccurs="0" maxOccurs="1" ref="bulks" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pathways" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="stoichiometry" type="xs:string" />
  <xs:element name="updator" type="xs:string" />
  <xs:element name="quality" type="xs:string" />
  <xs:element name="molecular_evidence">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="states">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chains">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stateofs">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cytomer_organ" type="xs:string" />
  <xs:element name="composition">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Molecule" />
                <xs:enumeration value="Reaction" />
                <xs:enumeration value="Gene" />
                <xs:enumeration value="Reference" />
                <xs:enumeration value="Annotate" />
                <xs:enumeration value="Pathway" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="genomic_accnos" type="xs:string" />
  <xs:element name="components">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pathway">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="entry-fields" />
        <xs:element ref="name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonyms" />
        <xs:element minOccurs="0" maxOccurs="1" ref="type" />
        <xs:element minOccurs="0" maxOccurs="1" ref="chains" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pathways" />
        <xs:element minOccurs="0" maxOccurs="1" ref="description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="comments" />
        <xs:element minOccurs="0" maxOccurs="1" ref="reactions_involved" />
        <xs:element minOccurs="0" maxOccurs="1" ref="molecules_involved" />
        <xs:element minOccurs="0" maxOccurs="1" ref="references" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="reversible" type="xs:string" />
  <xs:element name="cytomer_cell" type="xs:string" />
  <xs:element name="groups">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>